@import '../../styles/pallate.module.scss';
@import '../../styles/variables.module.scss';

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 24px;
  min-width: 49%; 
  .activeInputElement {
    border: 2px solid map-get($map: $green-palette, $key: 900) !important;
  }

  .errorInputElement {
    border: 2px solid $error-msg !important;
  }

  .inputElement {
    display: flex;
    align-items: center;
    border: 2px solid map-get($map: $grey-palette, $key: 500);

    border-radius: 15px;
    height: 56px;
    background-color: #ffffff;
    padding-left: 16px;

    .eyeIcon {
      padding-left: 16px;

      button {
        border: none;
        background-color: #ffffff;
      }
    }

    input {
      border: none;
      border-radius: 15px;
      height: 54px;
      padding-left: 16px;
      width: calc(100% - $input-width-padding);
      outline: none;
    }
  }

  .inputErrorMsg {
    color: $error-msg;
    font-size: 12px;
    height: 8px;
  }
}
