@import '../../styles/pallate.module.scss';
@import '../../styles/variables.module.scss';

.signinFormContainer {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: map-get($map: $milk-palette, $key: 0);

  .signinFormHeading {
    font-size: 24px;
    font-weight: 900;
    padding-bottom: 48px;
  }
  .signinFormInputContainer{
    width: calc(100% - $input-component-width-padding);

    .signinUtilities {
      display: flex;
      justify-content: space-between;

      .signinRememberContainer {
        input[type=checkbox] {
          margin-right: 8px;
          transform: scale(1.2)
        }
      }

      p {
        color: map-get($map: $green-palette, $key: 900);
        font-weight: 700;
      }
    }

    .signupCta {
      padding-top: 24px;
    }
  }

  .signinFormNameContainer {
    display: flex;
    justify-content: space-between;
  }

  .buttonText {
    font-size: 16px;
    font-weight: bold
  }

  .signinErrorMsg {
    height: 16px;
  }
}
