@import '../../styles/pallate.module.scss';
.authWrapperContainer {
  display: flex;
  background-color: map-get($map: $milk-palette, $key: 200);
  height: 100vh;
  width: 100vw;
  justify-content: space-between;
  align-items: center;

  .authLogoContainer {
    display: flex;
    width: 50vw;
    justify-content: center;
  }
}
