@import "../../styles/pallate.module.scss";
@import "../../styles/pallate.module.scss";


.button {
  display: flex;
  justify-content: center;
  border: none;
  background-color: map-get($map: $green-palette, $key: 900);
  color: white;
  padding: 16px 0;
  border-radius: 15px;
  margin-top: 36px;
  width: 100%;
  cursor: pointer;

  p {
    font-size: 16px;
  }
}
