$logo-main: #EA5523;

$error-msg: #B31312;

$milk-palette: (
  0: #FDFBF5,
  200: #F8F0DE
);


$grey-palette: (
  0: #FFFFFF,
  300: #ACB5BB,
  500: #6C7278
);

$green-palette: (
  500: #31B099,
  900: #203838
);
