@import '../../styles/pallate.module.scss';
@import '../../styles/variables.module.scss';
.locationRegistrationWrapperContainer {
  display: flex;
  flex-direction: column;
  padding: 64px 32px;
  background-color: map-get($grey-palette , 0);
  height: 645px;
  width: 660px;
  border-radius: 15px;

  .logoContainer {
    h1 {
      font-family: 'Pacifico', 'Arial Narrow', Arial, sans-serif;
      padding-top: 16px;
      font-size: 32px;
      color: $logo-main;
    }
  }

  .ctaContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: end;
    justify-content: end;

    .ctaBtn {
      display: flex;
      flex-direction: row;
      width: 40%;
      gap: 8px;
    }

    .inputErrorMsg {
      display: flex;
      align-items: center;
      color: $error-msg;
      padding-top: 8px;
      font-size: 16px;
      height: 16px;
    }
  }
}
