@import '../../styles/pallate.module.scss';
@import '../../styles/variables.module.scss';

.signupFormContainer {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: map-get($map: $milk-palette, $key: 0);
  border-radius:  24px 0 0 24px;

  .signupFormHeading {
    font-size: 24px;
    font-weight: 900;
    padding-bottom: 48px;
  }

  .signupFormInputContainer{
    width: calc(100% - $input-component-width-padding);

    .signupNamesContainer {
      display: flex;
      gap: 16px;
      justify-content: space-between;
    }

    .signinRedirectLink{
      padding-top: 16px;
    }
  }

  .signupFormPrivacyPolicyContainer {
    display: flex;
  }
}
