@import '../../styles/pallate.module.scss';
@import '../../styles/variables.module.scss';

$form-height: 745px;

.locationSignupContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: map-get($map: $milk-palette, $key: 200);

  .locationSignupFormContainer {
    display: flex;
    flex-direction: column;
    padding: 48px 32px;
    background-color: map-get($grey-palette , 0);
    height: $form-height;
    width: 620px;
    border-radius: 15px;

    .locationSignupFormLogoContainer {
      h1 {
        font-family: 'Pacifico';
        font-weight: 700;
        color: $logo-main;
        font-size: 34px;
      }
    }
    .locationSignupFormContent {
      position: relative;
      height: $form-height - 32px;

      .locationSignupFormErrorMsg {
        position: absolute;
        font-family: 'Familjen Grotesk';
        font-size: 16px;
        color: $error-msg;
        text-align: right;
        width: 100%;
        right: 0;
        bottom: 48px;
      }
      .locationSignupFormCtaContainer {
        position: absolute;
        display: flex;
        flex-direction: row !important;
        gap: 8px;
        right: 0;
        bottom: 72px;
        width: 40%;
      }
    }
  }
}
