@import '../../styles/pallate.module.scss';
.businesBasicInfoFormContainer {
  .businessBasicInfoFormTitle {
    font-family: 'Familjen Grotesk';
    font-size: 24px;
    padding-bottom: 16px;
  }

  .businessBasicInfoFormContent {
    font-family: 'Familjen Grotesk';
    font-size: 16px;
    color: map-get($grey-palette, 500);
    padding-bottom: 40px;
  }
  .businessbasicInfoAreaInfo {
    display: grid;
    grid-template-columns: 1.4fr 1fr 1fr; /* Equal width columns for three divs */
    grid-gap: 16px; /* Add some gap between the divs */
  }
}
